html {
  background-color: white;
  font-family: helvetica, Arial, san-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #CCCCCC;
  height: 100%; }

body {
  background-image: url("../images/austin-neill-213462.jpg");
  background-repeat: no-repeat; }
  @media (min-width: 300px) {
    body {
      background-size: 100% 18%; } }
  @media (min-width: 400px) {
    body {
      background-size: 100% 18%; } }
  @media (min-width: 700px) {
    body {
      background-size: 100% 20%; } }

header {
  width: 80%;
  margin: 0 auto; }

search {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto; }
  @media (min-width: 300px) {
    search {
      width: 90%; } }

#results {
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 300px) {
    #results {
      width: 100%; } }
  @media (min-width: 700px) {
    #results {
      width: 80%; } }
  @media (min-width: 894px) {
    #results {
      width: 70%; } }
  @media (min-width: 1016px) {
    #results {
      width: 60%; } }
  @media (min-width: 1084px) {
    #results {
      width: 50%; } }
  @media (min-width: 1370px) {
    #results {
      width: 60%; } }

li h3 {
  color: #16A085;
  text-align: center;
  margin-bottom: 0; }
  @media (min-width: 300px) {
    li h3 {
      width: 60%;
      font-size: 10px;
      height: 20px; } }
  @media (min-width: 400px) {
    li h3 {
      font-size: 13px;
      height: 25px;
      width: 70%; } }
  @media (min-width: 543px) {
    li h3 {
      font-size: 16px;
      width: 70%; } }
  @media (min-width: 700px) {
    li h3 {
      width: 100%;
      font-size: 12px; } }
  @media (min-width: 1370px) {
    li h3 {
      font-size: 14px; } }

#headlineResults {
  background-color: #222222;
  color: white;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 20px;
  padding-left: 0;
  height: 3rem; }
  @media (min-width: 300px) {
    #headlineResults {
      width: 25rem;
      margin-left: auto;
      margin-right: auto;
      height: 4rem;
      padding-top: 14px;
      padding-left: 12px;
      margin-top: 2px; } }
  @media (min-width: 400px) {
    #headlineResults {
      width: 33rem;
      font-size: 25px;
      margin-top: 20px; } }
  @media (min-width: 543px) {
    #headlineResults {
      width: 98%;
      text-align: center; } }
  @media (min-width: 700px) {
    #headlineResults {
      width: 25rem;
      font-size: 20px;
      height: 3rem;
      margin-left: 20px; } }
  @media (min-width: 1370px) {
    #headlineResults {
      font-size: 25px;
      width: 30rem; } }

h2 {
  background-color: #222222;
  margin-bottom: 0;
  margin-top: 20px;
  padding-left: 0;
  height: 2rem;
  font-size: 12px; }
  @media (min-width: 300px) {
    h2 {
      width: 282px;
      margin-left: 12px;
      margin-top: 80px;
      text-align: center; } }
  @media (min-width: 400px) {
    h2 {
      margin-left: 24px;
      text-align: left;
      font-size: 14px;
      width: 230px; } }
  @media (min-width: 543px) {
    h2 {
      margin-left: 100px; } }
  @media (min-width: 700px) {
    h2 {
      margin-left: 144px;
      width: 200px; } }
  @media (min-width: 894px) {
    h2 {
      margin-left: 216px; } }
  @media (min-width: 1014px) {
    h2 {
      margin-left: 20rem; } }
  @media (min-width: 1370px) {
    h2 {
      margin-left: 31rem;
      font-size: 20px;
      width: 320px; } }

h1 a {
  float: left;
  width: 60px;
  height: 60px;
  background: url("../images/turntable.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-top: 3px; }

form {
  height: 100px; }

#searchField {
  height: 40px;
  background-color: #C0C0C0;
  margin-top: 0;
  font-size: 25px;
  margin-bottom: 70px; }
  @media (min-width: 300px) {
    #searchField {
      margin-left: 1rem;
      width: 23rem; } }
  @media (min-width: 400px) {
    #searchField {
      width: 30rem;
      margin-left: 1rem; } }
  @media (min-width: 543px) {
    #searchField {
      margin-left: 100px; } }
  @media (min-width: 700px) {
    #searchField {
      width: 40rem;
      margin-left: 12rem; } }
  @media (min-width: 894px) {
    #searchField {
      margin-left: 18rem; } }
  @media (min-width: 1014px) {
    #searchField {
      margin-left: 20rem; } }
  @media (min-width: 1370px) {
    #searchField {
      margin-left: 31rem;
      width: 50rem;
      height: 50px; } }

#submitSearch {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  border: none;
  margin-left: -28px; }

#results ul {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0; }
  @media (min-width: 300px) {
    #results ul {
      flex-direction: column; } }
  @media (min-width: 700px) {
    #results ul {
      flex-direction: row; } }

li img {
  width: auto;
  height: auto; }
  @media (min-width: 300px) {
    li img {
      height: 85px; } }
  @media (min-width: 400px) {
    li img {
      height: 95px; } }
  @media (min-width: 700px) {
    li img {
      height: auto; } }
  @media (min-width: 1370px) {
    li img {
      width: 220px;
      height: auto; } }

#results li {
  background-color: #222222;
  display: flex;
  margin-right: 1rem;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-size: 10px;
  margin-bottom: 1rem; }
  @media (min-width: 300px) {
    #results li {
      height: 85px;
      width: 98%;
      flex-direction: column;
      margin-right: auto;
      margin-left: auto; } }
  @media (min-width: 400px) {
    #results li {
      height: 95px; } }
  @media (min-width: 543px) {
    #results li {
      width: 100%; } }
  @media (min-width: 700px) {
    #results li {
      width: 175px;
      height: 280px;
      flex-direction: row; } }
  @media (min-width: 1370px) {
    #results li {
      width: 220px;
      height: 300px; } }

#results li p {
  text-align: center;
  padding-top: 0;
  margin-top: 2px; }
  @media (min-width: 300px) {
    #results li p {
      font-size: 10px;
      width: 60%;
      margin-top: 30px; } }
  @media (min-width: 400px) {
    #results li p {
      margin-top: 25px;
      font-size: 13px;
      width: 70%; } }
  @media (min-width: 543px) {
    #results li p {
      width: 70%;
      margin-top: 20px; } }
  @media (min-width: 700px) {
    #results li p {
      width: 100%;
      margin-top: 29px;
      font-size: 16px; } }
  @media (min-width: 1370px) {
    #results li p {
      margin-top: 53px; } }

#results ul:nth-of-type(3n+1),
#results > p:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#loadMoreMusic {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: .5em 1em;
  background-color: #16A085;
  color: #222222; }
  @media (min-width: 300px) {
    #loadMoreMusic {
      width: 95%;
      height: 24px;
      padding-left: 3px;
      font-size: 14px; } }
  @media (min-width: 400px) {
    #loadMoreMusic {
      font-size: 16px;
      padding-left: 6px; } }
  @media (min-width: 543px) {
    #loadMoreMusic {
      width: 50%; } }
  @media (min-width: 700px) {
    #loadMoreMusic {
      width: 120px;
      height: 17px;
      font-size: 12px;
      padding: .5em 1em; } }
  @media (min-width: 1370px) {
    #loadMoreMusic {
      width: 220px;
      height: 35px;
      font-size: 20px; } }

#loadMoreMusic a {
  width: 200px; }
  @media (min-width: 400px) {
    #loadMoreMusic a {
      width: 250px; } }
  @media (min-width: 543px) {
    #loadMoreMusic a {
      width: 195px; } }
  @media (min-width: 1370px) {
    #loadMoreMusic a {
      width: 200px; } }

nav ul {
  display: flex;
  justify-content: flex-end;
  font: 6px;
  margin-top: 0; }

nav li {
  padding: 0 .5rem 0 0;
  display: flex;
  justify-content: flex-end;
  color: #CCCCCC;
  font: 10px;
  text-decoration: none;
  margin-top: 8px; }
  nav li a {
    display: flex;
    color: #CCCCCC;
    font-size: 10px;
    text-decoration: none;
    margin-top: 8px; }

nav a:hover {
  color: #16A085; }

header::after {
  content: " ";
  display: block;
  clear: both; }

footer {
  text-align: center;
  background-color: #222222;
  width: auto; }
