//base

html{
	background-color: $neutral-color;
	font-family: $font-stack;
	font-size: 12px;
	line-height: 1.5;
	color: $copy-color;
	height:100%;
}
	
body{
	@include mq(small){
		background-size: 100% 18%;
	}
	@include mq(medium){
		background-size: 100% 18%;
	}
	@include mq(large){
		background-size: 100% 20%;
	}
	background-image: url("../images/austin-neill-213462.jpg");
	background-repeat: no-repeat;
}

header{
	width: 80%;
	margin: 0 auto;
}

search{
	@include mq(small){
	width: 90%;
	
	}
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}

#results{
	@include mq(small){
		width: 100%;
	}
	@include mq(large){
		width: 80%;
	}
	@media(min-width: 894px){
		width: 70%;
	}
	@media(min-width: 1016px){
		width: 60%;
	}	
	@media(min-width: 1084px){
		width: 50%;
	}
	@media(min-width: 1370px){
		width: 60%;
		}			
	margin-right: auto;
	margin-left: auto;
}


li h3{
	@include mq(small){
		width: 60%;
		font-size: 10px;
		height: 20px;
}
	@include mq(medium){
		font-size: 13px;
		height: 25px;
		width: 70%;
	}
	@media(min-width: 543px){
		font-size: 16px;
		width: 70%;
	}
	@include mq(large){
		width: 100%;
		font-size: 12px;
	}
	@media(min-width: 1370px){
		font-size: 14px;
	}
	color: $secondary-color;
	text-align: center;
	margin-bottom: 0;
}


#headlineResults{
	@include mq(small){
		width: 25rem;
		margin-left: auto;
		margin-right: auto;
		height: 4rem;
		padding-top: 14px;
		padding-left: 12px;
		margin-top: 2px;
	}
	@include mq(medium){
		width: 33rem;
		font-size: 25px;
		margin-top: 20px;
		}
	@media(min-width: 543px){
		width: 98%;
		text-align: center;
	}
	@include mq(large){
		width: 25rem;
		font-size: 20px;
		height: 3rem;
		margin-left: 20px;
		}
	@media(min-width: 1370px){
		font-size: 25px;
		width: 30rem;
	}	
	background-color: $primary-color;
	color: $neutral-color;
	margin-top: 30px;
	margin-left: 30px;
	font-size: 20px;
	padding-left: 0;
	height: 3rem;
}


h2{
	@include mq(small){
		width: 282px;
		margin-left: 12px;
		margin-top: 80px;
		text-align: center;
	}
	@include mq(medium){
		margin-left: 24px;
		text-align: left;
		font-size: 14px;
		width: 230px;
	}
	@media(min-width: 543px){
		margin-left: 100px;
	}
	@include mq(large){
		margin-left: 144px;
		width: 200px;
	}
	@media(min-width: 894px){
		margin-left: 216px; 
	}
	@media(min-width: 1014px){
		margin-left: 20rem;
		}	
	@media(min-width: 1370px){
		margin-left: 31rem;
		font-size: 20px;
		width: 320px;
	}	
	background-color: $primary-color;
	margin-bottom: 0;
	margin-top: 20px;
	padding-left: 0;
	height: 2rem;
	font-size: 12px;
}


h1 a{
	float: left;
	width: 60px; 
    height: 60px;
    background: url("../images/turntable.png");
    background-repeat: no-repeat;
    text-indent:-9999px;
    margin-top: 3px;
}

form{
	height: 100px;
}

#searchField{
	@include mq(small){
		margin-left: 1rem;
		width: 23rem;
	}
	@include mq(medium){
		width: 30rem;
		margin-left: 2rem;
	}
	@media(min-width: 543px){
		margin-left: 100px;
	}
	@include mq(large){
		width: 40rem;
		margin-left: 12rem;
	
	}
	@media(min-width: 894px){
		margin-left: 18rem;
		}
		@media(min-width: 1014px){
		margin-left: 20rem;
		}	
	@media(min-width: 1370px){
		margin-left: 31rem;
		width: 50rem;
		height: 50px;
	}	
		height: 40px;
		background-color: #C0C0C0 ;
		margin-top: 0; 
		font-size: 25px;
		margin-bottom: 70px;
}

#submitSearch{
	background-image: url("../images/search.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	border: none;
	margin-left: -28px;
}

#results ul {
	@include mq(small){
		flex-direction: column;
	
	}
	@include mq(large){
		flex-direction: row;	
	}
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

li img {
	@include mq(small){
		height: 85px;
	}
	@include mq(medium){
		height: 95px;
	}
	@include mq(large){
		height: auto;
	}
	@media(min-width: 1370px){
		width: 220px;
		height: auto;
	}
	width: auto;
	height:auto;
}



#results {
	li {
		@include mq(small){
			height: 85px;
			width: 98%;
			flex-direction: column;
			margin-right: auto;
			margin-left: auto;
		}
		@include mq(medium){
			height: 95px;
		}
		@media(min-width: 543px){
			width: 100%;
		}
		@include mq(large){
			width: 175px;
			height: 280px;
			flex-direction: row;
		}
		@media(min-width: 1370px){
			width: 220px;
			height: 300px;
		}
		background-color: $primary-color;
		display: flex;
		margin-right: 1rem;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
        text-align: center;
		font-size: 10px;
		margin-bottom: 1rem;
	}
		
 	li p{
 		@include mq(small){
 			font-size: 10px;
 			width: 60%;
 			margin-top: 30px;
		}
		@include mq(medium){
			margin-top: 25px;
			font-size: 13px;
			width: 70%;
		}
		@media(min-width: 543px){
			width: 70%;
			margin-top: 20px;
		}
		@include mq(large){
			width: 100%;
			margin-top: 29px;
			font-size: 16px;
		}
		@media(min-width: 1370px){
			margin-top: 53px;
		
		}
 		text-align: center;
		padding-top: 0;
		margin-top: 2px;
		}
		
}

#results ul:nth-of-type(3n+1),
#results > p:last-child{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#loadMoreMusic{
	@include mq(small){
		width: 95%;
		height: 24px;
		padding-left: 3px; 
		font-size: 14px;
    }
	@include mq(medium){
		font-size: 16px;
		padding-left: 6px;
	}
	@media(min-width: 543px){
		width: 50%;
		}
	@include mq(large){
		width: 120px;
		height: 17px;
		font-size: 12px;
		padding: .5em 1em;
	
	}
	@media(min-width: 1370px){
		width: 220px;
		height: 35px;
		font-size: 20px;
	
	}
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include brs(3px,3px,3px,3px);
	padding: .5em 1em;
	background-color: $secondary-color;
	color: $primary-color;
}

#loadMoreMusic a{
	width: 200px;
	
	@include mq(medium){
		width: 250px;
	}
	@media(min-width: 543px){
		width: 195px;
	}
	@media(min-width: 1370px){
		width: 200px;
	}
}


	